@import url('https://fonts.googleapis.com/css?family=Macondo+Swash+Caps|Oleo+Script+Swash+Caps|Six+Caps');
* {
  box-sizing: border-box;
  /* text-align: center; */
  /* background-color: green; */
}

body{
  background: url(bg.jpg) yellow;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  overflow: auto;
}
#app-name {
  font-family: 'Six Caps', sans-serif;
  font-size: 30px;
}
h7, #app-tagline1, #app-tagline2, #app-tagline3,  {
  font-family: 'Macondo Swash Caps', cursive;
}
.form-group {
  display: inline-block;
}
.form-control {
  flex: 1;
}
#search-submit {
 float: right;
}
.navbar {
  display: flex;
}
#nom-col{
  min-height: 330px;
  flex: 1;
}
#map-col{
  max-height: 330px;
  width: 100%;
}
.nomP, {
  font-size: 14px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.nom-card{
  display: inline-block;
  width: 200px;
  min-height: 150px;
  vertical-align: top;
}
.nomination {
  display: inline-block;
  width: 150px;
  min-height: 150px;
  vertical-align: top;
}
.map {
  width:100%
}
.modal-header{
  background-color: #FDC02F;
}
.modal-title {
  font-size: 1.2em;
 }
.modal-body-text{
  font-size: 0.9em;
}
.eatmeet{
  font-weight: 700;
}
.voteCount3{
  background-color:#fcd26d ;
  color: #fefdf9!important;
  
}
.voteCount2{
  background-color: #fdeabd;
  color: #fefdf9!important;
}
.voteCount1{
  background-color: #fefaef;
  color: #fefdf9!important;
}
.winner-name{
  font-size: 1.3em;
  font-weight: bold;
}
.winner-addr{
  font-size: 1.1em;
  font-weight: bold;
}
.winner-url{
  font-size: 1.1em;
  font-weight: bold;
  
}

#modal-input-id, #modal-input-secret{
  font-size: 0.8 em;
}

.btn-primary{
  background-color: #ffc107;
  border: 0px;
  color: black;
 }
 .btn-primary:hover{
  background-color: #ffc107;
  
 }