@import url('https://fonts.googleapis.com/css?family=Montserrat|BioRhyme+Expanded');
* {
  box-sizing: border-box;
  /* text-align: center; */
  /* background-color: green; */
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  overflow: auto;
}

#nav-info {
  display:inline-block;
}
#app-name {
  font-family: 'BioRhyme Expanded', serif;
  font-size: 30px;
}
a {
  font-family: 'Montserrat', sans-serif;
}
.form-group {
  display: inline-block;
}

#currentUsers {
  font-family: 'BioRhyme Expanded', serif;
}

#search-submit {
 float: right;
 flex: 2;
 width: 100%;
}

.navbar {
  display: flex;
}


#background {
  background: url('images/eatmeet-background.jpg');
  opacity:0.75;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-1;
}


#nom-col{
  min-height: 330px;
  flex: 1;
}
#map-col{
  max-height: 300px;
  position:relative;
  width: 100%;
  bottom: 0px;
  z-index: -1;
  overflow: hidden;
}
.nomP, {
  font-size: 14px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.nom-card{
  display: inline-block;
  width: 200px;
  min-height: 150px;
  vertical-align: top;
  margin: 10px;
}
.nomination {
  display: inline-block;
  width: 150px;
  min-height: 150px;
  vertical-align: top;
  margin: 10px;
}
.map {
  width:100%
}
.modal-header{
  background-color: #FDC02F;
}
.modal-title {
  font-size: 1.2em;
 }
.modal-body-text{
  font-size: 0.9em;
}
.eatmeet{
  font-weight: 700;
}
.voteCount3{
  background-color:#fdde94 ;
  color: #fefdf9!important;
  
}
.voteCount2{
  background-color: #fdeabd;
  color: #fefdf9!important;
}
.voteCount1{
  background-color: #fefaef;
  color: #fefdf9!important;
}
.winner-name{
  font-size: 1.3em;
  font-weight: bold;
}
.winner-addr{
  font-size: 1.1em;
  font-weight: bold;
}
.winner-url{
  font-size: 1.1em;
  font-weight: bold;
  
}

.btn-primary{
  background-color: #ffc107;
 border: 0px;
 color: black;
}
.btn-primary:hover{
 background-color: #ffc107;
 
}
#friends{
  margin-left: 15px;
}



@media screen and (min-width: 1040px) and (max-width: 3000px) {
  #app-tagline1 { display: inline-block; }  /* show it on large screens */
}

@media screen and (min-width: 0px) and (max-width: 1039px) {
  #app-tagline1 { display: none;}   /* hide it elsewhere */
}

@media screen and (max-width: 640px){
  #friends{ 
    display: block;
    margin-left: 0px;
  }
  #three-buttons{ display:inline-block; }
}
